.footer {
  background-color: #333;
  color: white;
  padding: 20px 40px;
  text-align: center;
  position: relative; /* 위치가 콘텐츠에 맞게 결정되도록 설정 */
  margin-top: auto; /* footer가 항상 하단에 위치하도록 */
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  flex: 1;
}

.footer-item h4 {
  font-size: 18px;
  font-weight: bold;
}

.footer-item p {
  font-size: 16px;
  color: white; /* <p> 텍스트를 하얀색으로 설정 */
}